<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ASSITmentsAddress" value="https://test1.assistments.org"/>
    <add key="ASSITmentsBaseAPI" value="https://test1.assistments.org/api2"/>
    <add key="ASSITmentsAPI_Helper" value="https://test1.assistments.org/api2_helper"/>

    <add key ="EdmodoAPIKey" value="c4d68ad5e836437f16668d7adcd718c6eac29658"/>
    <add key ="EdmodoAPIBase" value="https://appsapi.edmodobox.com/v1.1"/>
  </appSettings>

</configuration>
